.weather{
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

.table{
    margin: 0 auto;
    display: table;
}

div[class=flex]{
    line-height: 20px;
}

h3{
    margin: 10px;
}