.weather{
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

.table{
    margin: 0 auto;
    display: table;
}

div[class=flex]{
    line-height: 20px;
}

h3{
    max-width: 500px;
    margin: 0 auto;
}

h3::before{
    display: block;
    height: 2px;
    background-color: #58ffe3;
    content: ' ';
    width: 100px;
    margin:0 auto;
    margin-bottom: 30px;
}