<h1>Weather App</h1>
<app-add-city></app-add-city>
<div class="initial-size">

    <div *ngIf="cities.length" [@fadeIn] [@dataChange]="dataState" (@dataChange.done)="dataState = 'done'">
        <div class="flex">
            <div>{{cities[cities.length-1].name}}</div>
            <div>{{cities[cities.length-1].main.temp}}&deg; {{cities[cities.length-1].units | units}}</div>
            <div><img [src]="'https://openweathermap.org/img/wn/'+cities[cities.length-1].weather.icon+'@2x.png'"
                    alt=""></div>
        </div>
    </div>


</div>

<app-show-cities></app-show-cities>