h1 {
  margin-top: 24px;
  text-align: center;
  color: #5179ff;
}


h1::after{
    display: block;
    height: 2px;
    background-color: #555;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

.initial-size {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 620px) {
  .initial-size {
    height: 450px;
  }
}
